/* site.css - Turku University, Course Virtual Machine site
   10.11.2019 // Jani Tammi <jasata@utu.fi>
*/
:root
{
    --utu-purple:           #8b5dcb;
    --page-bg-color:        #f2f2f2;
    --text-color:           Black;
    --header-bg-color:      White;
    --header-height:        9.0vw;
    --footer-link-color:    var(--utu-purple);
    --footer-bg-color:      Black;
    --footer-height:        5.5vw; /* 7.5rem; */
}

/* page basics ***************************************************************/
html
{
    font-family:            Verdana, Geneva, Tahoma, sans-serif;
    position:               relative;
    min-height:             100%;
}
body
{
    background-color:       var(--page-bg-color);

    min-height:             100vh;  /* Allow footer to stay at the bottom */
    position:               relative;
    margin:                 0;
    padding:                0;
    /* Reserve space for footer */
    padding-bottom:         calc(var(--footer-height) + 2.0rem);
}
footer
{
    position:               absolute;
    bottom:                 0;
    width:                  100%;
    height:                 var(--footer-height);
    background-color:       var(--footer-bg-color);
}
a:link
{
    color:                  var(--text-color);
    text-decoration:        none;
}
a:visited
{
    color:                  var(--text-color);
    text-decoration:        none;
}
a:hover
{
    color:                  var(--text-color);
    text-decoration:        none;
}
a:active
{
    color:                  var(--text-color);
    text-decoration:        none;
}
/* Page basics END ***********************************************************/

.footer-logo
{
    width:                  auto;
    height:                 var(--footer-height);
    max-height:             var(--footer-height);
}
.footer-copyright
{
    font-size:              1.1vw;
    color:                  White;
    padding:                0;
    margin:                 0.4vw;
    position: absolute;
    bottom: 0;
}
.footer-copyright > a
{
    color:                  White;
}
.footer-copyright > a:hover
{
    color:                  var(--utu-purple);
}


/* vertical center with flexbox */
.vflexbox {
    display:                -webkit-box;
    display:                -ms-flexbox;
    display:                flex;
    height:                 100%;
    -webkit-box-align:      center;
    -ms-flex-align:         center;
    align-items:            center;
    -webkit-box-pack:       center;
    -ms-flex-pack:          center;
    justify-content:        center;
}    


a.footerlink
{
    text-decoration:        none;
    color:                  var(--footer-link-color);
    font-size:              1.6vw;
    font-weight:            bold;
    margin-right:           0.3vw;
    margin-left:            0.3vw;
}    
a.footerlink:after
{
    content:                " | ";
}    
a.footerlink:first-child:before
{
    content:                " ";
}    
a.footerlink:last-child:after
{
    content:                "";
}    


.header-title
{
    font-family:            'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --y-scaler:             1.2;
    font-size:              3.6vw;
    font-weight:            700;
    text-transform:         uppercase;
    transform:              scale(1, var(--y-scaler));
    -webkit-transform:      scale(1, var(--y-scaler)); /* Safari and Chrome */
    -moz-transform:         scale(1, var(--y-scaler)); /* Firefox */
    -ms-transform:          scale(1, var(--y-scaler)); /* IE 9+ */
    -o-transform:           scale(1, var(--y-scaler)); /* Opera */
}

.header-row
{
    height:                 var(--header-height);
    max-height:             var(--header-height);
    margin-bottom:          3.0vw;
    background-color:       var(--header-bg-color);
}

/* header logo image is somehow LARGER than it's container??? */
.header-site-logo
{
    
    max-height:             100%;
    max-width:              100%;
    height:                 100%; 
}

/* Content navigation bar (scroll spy) */
.navbar-light .navbar-nav .nav-link.active
{
    background-color:       magenta;
}
.nav-pills .nav-link.active, .nav-pills .show >.nav-link
{
    background-color:       var(--utu-purple);
}
/* Scrollspy (in introduction.html) */
.scrollspy-example
{
    position:               relative;
    overflow:               auto;
}
/* EOF */